<h4><%= @device.customer.name %>'s <%= @device.make %> <%= @device.model %></h4>

<ul>
    <li>
        Issue: <%= @device.issue %>
    </li>

    <li>
        Date Received: <%= @device.received %>
    </li>
    
    <% if @device.hours_of_labor != nil %>
        <li>
            Hours of Labor: <%= @device.hours_of_labor %>
        </li>
    <% end %>

    <% if @device.completed != nil %>
        <li>
            Date Completed: <%= @device.completed %>
        </li>
    <% end %>

    <% if @device.total_price != nil %>
        <li>
            Total Price: <%= @device.total_price %>
        </li>
    <% end %>
   
    <% if !@device.parts.empty? %>
        <h5>Parts</h5>
        <% @device.parts.each do |p| %>
            <li><a href="/part/<%= p.id %>"><%= p.name %></a>
        <% end %>
    <% end %>
</ul>