<h1><%= @user.username %></h1>

<% if !@user.customers.empty? %>
    <ul>
        <h4>Customers</h4>
        <% @user.customers.each do |c| %>
            <li><a href="/customer/<%= c.id %>"><%= c.name %></a>
        <% end %>
    </ul>
<% end %>

<button>
    <a href="/customer/new" class="button">Add Customer</a>
</button>

<% if !@user.devices.empty? %>
    <ul>
        <h4>Open Devices</h4>
        <% @user.devices.reverse.each do |d| %>
            <% if d.completed %>
                <li><a href="/device/<%= d.id %>"><%= d.customer.name %>'s <%= d.make %> <%= d.model %></a>
            <% end %>
        <% end %>
    </ul>
<% end %>